spring:
  redis:
    host: localhost
    port: 6379

  kafka:
    bootstrap-servers: localhost:29092
    schema-registry:
      url: http://localhost:8081

  main:
    web-application-type: reactive

server:
  port: 8080

management:
  tracing:
    sampling:
      probability: 1.0
logging:
  pattern:
    level: "%5p [%X{traceId:-},%X{spanId:-}]"
